hr {
	max-width: 100%;
}

#title-font a {
	color: #222;
	text-decoration: none;
}

.butn {
	margin-top: 6px;
}

#butn-color {
	background-color: red;
	}

.ad-img {
	height: 250px;
	width: 250px;
}

#title-font {
	font-size: 40px;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#content-font {
	font-size: 18px;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#pop-font {
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
}

.log-form {
	margin-top: 20px;
}
	
.jumbotron {
	background-color: #444;
	text-align: center;
	padding: 30px 15px;
  	margin-top: -20px;
  	color: #eee;
}

#btn-post1 {
	background-color: #DF013A;
	border-color: #DF013A;
	font-weight: bold;
}

#btn-post2 {
	font-weight: bold;
}

.pager {
	margin-left: -800px;
	border-color: black;
	border-width: 10px;
}

.pager li {
	border-color: black;
	color: black;
}


#footer {
	background-color: #F0F0F0;
	padding: 3em;
	margin-top: 320px;
	text-align: center;
	display: block;
}

	ul.icons li{
		display: inline-block;
		padding: 0px 1.25em 0px 0px;
		font-size: 24px;
	}
	
	ul.actions li {
		display: inline-block;
	}

	ul.copyright li {
		display: inline;
	}

.icons a {
	color: #D9534F;
}


#comment-img {
	max-width: 100%;
	margin-top: 20px;
}


#comment-textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 80px;
	max-height: 80px;
	margin-top: 20px;
}

#comment-btn {
	margin-bottom: 15px;
}

#comment-row-list {
	margin-top: 50px;
}

#pager-pre-nex {
	background-color: #D9534F;
	color: red;
}

.pagination>li>a {
    color: #D9534F;
}


.pagination>.active>a {
    background-color: #D9534F;
    border-color: #D9534F;
    color: #fff;
}


#number_votes {
	font-size: 10px;
	color: #A4A4A4;
}

#inactive-heart {
	color: #D9534F
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #D9534F;
  border-color: #D9534F;
}